asgiref==3.10.0
Django==5.2.2
django-cors-headers==4.9.0
djangorestframework==3.16.1
mysqlclient==2.2.7
pillow==11.3.0
PyMySQL==1.1.2
python-decouple==3.8
sqlparse==0.5.3
tzdata==2025.2
gunicorn==23.0.0
whitenoise
drf-spectacular
